<a href="https://colab.research.google.com/github/id-shiv/knowledge_base/blob/master/%5BProject_502%5D_SQlite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import sqlite3

In [0]:
class DataBase:
    def __init__(self, db_name=":memory:"):
        """
        Creates a database on a file if db_name provided,
        Creates an in-memory database if no db_name provided
        :param db_name:
        """

        self.__db_name = db_name
        self.__db_connection = None
        self.__db_cursor = None

        self.__db_connection = sqlite3.connect(self.__db_name)
        self.__db_cursor = self.__db_connection.cursor()
        print('Connected to {} database with connection {} and cursor {}'.format(self.__db_name,
                                                                                 self.__db_connection,
                                                                                 self.__db_cursor))

        """
        Create a table with columns, keys and data types defined
        """
        try:
            self.__db_connection.execute('''
            CREATE TABLE COMPANY(
            ID INT PRIMARY KEY     NOT NULL,
            NAME           TEXT    NOT NULL,
            AGE            INT     NOT NULL,
            ADDRESS        CHAR(50),
            SALARY         REAL
            );''')
            print('Database table {} created successfully'.format("COMPANY"))

            self.__db_connection.close()
        except BaseException as be:
            print('Database table {} could not be created'.format("COMPANY"))
            print(be)

    def insert(self, table_name, values):
        """
        Insert values into table
        :param table_name:
        :param values:
        :return:
        """

        # Build key's string to be used in insert query
        key_string = " ".join(key + ", " for key, _ in values.items()).rstrip(", ")

        # Build value's string to be used in insert query
        value_string = " ".join("\"" + str(value) + "\", " for _, value in values.items()).rstrip(", ")

        # Build the insert query
        insert_command = 'INSERT INTO {} ({}) VALUES ({})'.format(table_name, key_string, value_string)
        # print('insert command {}'.format(insert_command))

        # Run insert query
        try:
            with self.__db_connection:
                self.__db_cursor.execute(insert_command)
            print('insert command {} successful'.format(value_string))
        except BaseException as be:
            print('insert command {} failed'.format(value_string))
            print(be)

    def select(self, table_name, columns=None):
        """
        Select values from a table
        :param table_name:
        :param columns:
        :return:
        """
        # Build the select query
        # If no columns input, use * in select query. Else, use the column's string built above
        if columns is None:
            select_command = 'SELECT * FROM {}'.format(table_name)
        else:
            # Build column's string to be used in select query
            column_string = " ".join(column + ", " for column in columns).rstrip(", ")
            select_command = 'SELECT {} FROM {}'.format(column_string, table_name)
        # print('select command {}'.format(select_command))

        # Run the select query
        try:
            with self.__db_connection:
                rows = self.__db_cursor.execute(select_command)
            print('select command {} successful'.format(select_command))

            print(100 * "#")
            print([description[0] for description in self.__db_cursor.description])
            print(100*"#")
            for row in rows:
                for column_value in row:
                    print('{} | '.format(str(column_value))),
                print("\n")
            print(100 * "#")
        except BaseException as be:
            print('select command {} failed'.format(select_command))
            print(be)
        else:
            return rows

In [3]:
db = DataBase(db_name="sample.db")
db.insert("COMPANY", {"ID": 50006, "NAME": "Baron Corbin", "AGE": 43,
    "ADDRESS": "346 street", "SALARY": 75000})
db.select("COMPANY")

Connected to sample.db database with connection <sqlite3.Connection object at 0x7f38611dbf10> and cursor <sqlite3.Cursor object at 0x7f38611479d0>
Database table COMPANY created successfully
insert command "50006",  "Baron Corbin",  "43",  "346 street",  "75000" failed
Cannot operate on a closed database.
select command SELECT * FROM COMPANY failed
Cannot operate on a closed database.